.cover {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/cover.jpg");
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover-text {
    width: 65vw;
    color: white;
    /* text-align: justify; */
    margin-top: 15%;
    font-size: 3rem;
    font-weight: 900;
}

.cover-explore {
    cursor: pointer;
    width: 8%;
    height: 4%;
    border: 2px solid white;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    text-decoration: none;
}

@media(max-width:1000px) {
    .cover-text {
        font-size: 2.5rem;
        font-weight: 800;
        margin-top: 20%;
    }
}

@media(max-width:750px) {
    .cover-text {
        font-size: 2rem;
        font-weight: 700;
        margin-top: 25%;
    }

    .cover-explore {
        width: 12%;
    }
}

@media(max-width:450px) {
    .cover-text {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 40%;
    }

    .cover-explore {
        width: 22%;
    }
}

@media(max-width:100px) {
    .cover-text {
        font-size: 1rem;
        font-weight: 500;
        margin-top: 55%;
    }

    .cover-explore {
        width: 66%;
    }
}